/*
body {
    background-color: #D8BEE5;
    font-family: "Monaco", monospace;
    text-align: center;
    margin: 20px;
}
*/

body {
    font-family: "Monaco", monospace;
    text-align: center;
    margin: 0px;
    height: 100vh;
    padding: 0px;
    background: #f4d7d6; /* Pink color */
    position: relative;
    overflow: hidden;
}

/* use clippath to create triangles */
.triangle1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f8e8d6; /* Beige */
    clip-path: polygon(50% 100%, 100% 0, 0 0);
    z-index: -1;
}

.triangle2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #c8d6a5; /* Green */
    clip-path: polygon(100% 0, 50% 100%, 100% 100%);
    z-index: -1;
}



.grid-container {
    display: grid;
    gap: 5px;
    padding: 5px;
    border: 2px solid rgb(140, 73, 221);
    border-radius: 10px;
    width: max-content;
    overflow: hidden; 
    margin: auto;
}
.grid-item {
    width: 50px;
    height: 50px;
    gap: 20px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    transition: background-color 0.3s;
}

.grid-item:hover {
    background-color: lightblue;
}

button {
    font-family: "Monaco", monospace;
    background-color: #b273d2;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(213, 56, 241, 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d538f1;
}

p1{
    font-family: "Monaco", monospace;
    background-color:#d3fed8;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(213, 56, 241, 0.5);
    transition: background-color 0.3s;
}